.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #A0B0B9;
}

.content {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4A4A4A;
}